# copy env.template to .env, and configure .env
# QCOS configures
DEBUG=False
LOCAL_CICD=False
# Production mode: DEV=False. Development mode: DEV=True.
DEV=False
# [Optional] Offline mode. OpenEuler yum mirror, eg. YUM_MIRROR=http://mirrors.cmecloud.cn
YUM_MIRROR=
# [Optional] Offline mode. Python pip mirror, eg. PIP_MIRROR=http://mirrors.cmecloud.cn/pypi/simple
PIP_MIRROR=
# [Optional] Offline mode. NPM mirror, eg. NPM_MIRROR=http://mirrors.cmecloud.cn/npm/repository/qcos/
NPM_MIRROR=
# [Optional] Python source code mirror, eg. PYTHON_SRC_MIRROR=https://www.python.org/ftp/python/3.11.6/Python-3.11.6.tgz
PYTHON_SRC_MIRROR=
# [Optional] PYPY3 binary mirror, eg. PYPY_BIN_MIRROR=https://downloads.python.org/pypy/pypy3.11-v7.3.20-linux64.tar.bz2
PYPY3_BIN_MIRROR=

# QCOS server configures
API_SERVER_LISTEN_IP=
API_SERVER_LISTEN_PORT=18400
PREFECT_API_URL=http://127.0.0.1:4200/api
QCOS_VERSION=${QCOS_VERSION:-1.0.0}

# REDIS server configures
REDIS_SERVER_IP=
REDIS_SERVER_PORT=6379

# QCOS client configures
QCOS_SERVER_IP=127.0.0.1
QCOS_SERVER_PORT=18400
QCOS_VIRTUAL_INSTANCE_ID=
QCOS_CLI_DIST=.oe1
QCOS_CLI_VERSION=${QCOS_CLI_VERSION:-1.0.0}

# Postgres configures
#DB_BACKEND: sqlite, postgres
DB_BACKEND=sqlite
POSTGRES_PASSWORD=

# Prefect configures
# The IP address that prefect-server listen on, eg: 192.168.0.1
PREFECT_SERVER_API_HOST=
PREFECT_SERVER_PORT=4200
# PREFECT_SERVER_DATABASE_CONNECTION_URL: sqlite, postgresql
# sqlite mode: sqlite+aiosqlite:////var/qcos/db/prefect.db?timeout=30&journal_mode=WAL
# postgresql mode: postgresql+asyncpg://postgres:${POSTGRES_PASSWORD}@127.0.0.1:5432/prefect
PREFECT_SERVER_DATABASE_CONNECTION_URL=sqlite+aiosqlite:////var/qcos/db/prefect.db?timeout=30&journal_mode=WAL

# container image name and version
QCOS_CONTAINER_NAME=qcos
QCOS_IMAGE_NAME=qcos
QCOS_IMAGE_VERSION=${QCOS_IMAGE_VERSION:-QCOS_IMAGE_VERSION}
PREFECT_IMAGE_NAME=prefecthq/prefect
PREFECT_IMAGE_VERSION=3.6.9-python3.13
REDIS_IMAGE_NAME=redis
REDIS_IMAGE_VERSION=7.2.7
POSTGRES_IMAGE_NAME=postgres
POSTGRES_IMAGE_VERSION=18
CONTAINER_BASE_IMAGE=openeuler/openeuler:24.03-lts
OUTPUT_IMAGE_DIR=./images
QCOS_REGISTRY=
REGISTRY=
